{
  "extends": "vtex",
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-undef": "off"
  },
  "ignorePatterns": ["pixel/*"]
}
